<div class="container">
    <h2>User Settings</h2>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
        <label for="name">Name</label>
    <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name" required #name="ngModel" >
    </div>
    <div [hidden]="name.valid || name.untouched" class="alert alert-danger">Please enter a name</div><br>

  

    
  <h5> ngModel Validations </h5> <br>

  <h6>  dirty {{ name.dirty }} </h6>
  <h6>  pristine {{ name.pristine }} </h6>
  <h6>  touched {{ name.touched }} </h6>
  <h6>  untouched {{ name.untouched }} </h6>
  <h6>  valid {{ name.valid }} </h6>
  <h6>  invalid {{ name.invalid }} </h6><br><br>

  <h3>Styling forms with validation errors</h3>

  <!-- <div class="form-group">
    <label for="name">Name2</label>
<input id="name2" name="name2" class="form-control" [(ngModel)]="userSettings.name" required #name2="ngModel" (blur)="onBlur(name2)" [class.field-error]="form.submitted && name2.invalid">
</div>
<div [hidden]="!form.submitted || name2.valid" class="alert alert-danger">Please enter a name</div><br>

<br> -->


    <br>
    <br>
    <div class="form-check form-group" >
        <input class="form-check-input" type="checkbox" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers" >
        <label class="form-check-label" for="emailOffers">
          Email Special Offers
        </label>
      </div>

      <p>User Interface Style</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="exampleRadios1">
          Light
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium" [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="exampleRadios2">
          Medium
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark" [(ngModel)]="userSettings.interfaceStyle">
        <label class="form-check-label" for="exampleRadios2">
          Dark
        </label>
      </div>
        <div class="form-group">
          <label for="subscriptionType">Subscription Type</label>
        </div>
        <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
          <option *ngFor="let item of subscriptionTypes | async "> {{ item }} </option>
        </select>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" class="form~control" rows="3"[(ngModel)]="userSettings.notes"></textarea >
        </div>
      
    
    
        <button class="btn btn-primary">Send</button>
        <div [hidden]= "!postError"  class="alert alert-danger">{{ postErrorMessage }}</div>

</form>
</div>
Values: {{ form.value | json }} <br>
Submitted:  {{ form.submitted }} <br>
Pristine: {{ form.pristine }} Dirty: {{ form.dirty }}<br>
Touched: {{ form.touched }} Untouched: {{ form.untouched | json }}<br>
Valid: {{ form.valid }} Invalid: {{ form.invalid | json }}<br>
userSettings: {{ userSettings | json }} <br>
OriginalUserSettings: {{ originalUserSettings | json }} <br>
<!-- Name input attributes: {{ name.className | json }} -->

